/* hero banner c'est la premiere image*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rubik, sans-serif;
}
.section-hero { 
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* view height que dans les hero banners (100% de la hauteur de l'écran*/ 
    width: 100%;
}

.container-1200 {
    container: 1200px;;
    width: 100%;
}
.bg-image2 {
   background-image: url("asset/bg-image-2.png");
   background-size: cover;
   background-repeat: no repeat;
   width: 100%;
   background-color: #000000B2;
   height: 385px;
}

.flex-end {
    justify-content: flex-end;
}

.p-40 {
    padding: 40px;
}

.w-30{
    width: 30%;
}

.mt-64{
    margin-top: 64px;
}

.mt-35 {
    margin-top: 35px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 25px;
}



.pt-50{
    padding-top: 50px;
}

.pl-80 {
    padding-left: 80px;
}

.pb-120 {
    padding-bottom: 120px;
}

.inline-block {
    display: inline-block;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-start {
   justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-48{
    gap: 48px;
    display: flex;
}

a {
    text-decoration: none;
}

.white{
    color: white;
    text-align: left;
}

/* taille */

.w-40 {
    width: 40%;
}

.bold {
    font-weight: 200;
}

.black {
    color: black;
}


.bold-epais{
    font-weight:extrabold 800;
}

footer {
    background-color: #353434;
    font-weight: bolder;
    width: 1280px;
    height: 183px;
    top: 2606px;

    
}

.logo-white{
    text-align: center;
    font-weight: 90;
    padding-top: 30px;
}

.section-p2{
    font-size: 14px;
    font-style: regular ;
}

.text-center{
    text-align: center;
}

/* les boutons */

.btn-image2 {
    border: solid;
    padding: 10px 40px;
    border-radius: 4px;
    background-color: #353434;
    color: white;
    width: 130px;
    height: 31px;
}

.btn-page1 {
    border: solid;
    background-color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 4px;
    width: 134px;
    height: 31px;
    color: black;
    text-decoration: none;

}

.container {
    container: 1200;
    max-width: 1200;
    width: 100%;
    margin-left:auto ;
    margin-right:auto;
}

.w-45 {
    width: 45%;
}

/*les Titres */

.h2 {
    color: white;
    left: 63px;
}



